
body{
    background-color: dimgray;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    background-color: orange;
    margin-bottom: 0px;
}
h4{
    background-color: orange;
    margin-top: 0px;
    border-radius: 25px;
}
.gridMaster{
    background-color:black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 80px, auto, auto;

    row-gap: 15px;
    column-gap: 10px;
    border-radius: 25px;
}
.gridMaster > div{
    /*background-color: lightgrey;*/
    font-weight: bold;
    border-radius: 25px;
}
.ContactInfo{
    background-color: orange;
    border: 5px solid black;
    grid-column: 1/ span 4;
}
.Experience{
    background-color: lightgrey;
    border: 5px solid orange;
    grid-column: 1/ span 3;
    grid-row: 2;
}
.Skills{
    background-color: lightgrey;
    border: 5px solid orange;
    text-align: center;
}
.Education{
    background-color: lightgrey;
    border: 5px solid orange;
    grid-row: 3;
    grid-column: 2/ span 2;
    text-align: center;
}
/*.Experience{
    float: left;
}
.Skills{
    float: right;
}
.Education{
    float: left;
}
>*/